/* Основной текст:  #757575;*/
/* Вторичный текст: #212121; */
/* Белый: #FFFFFF; */
/*  Акцент: #2196F3; */
/* Фон шапки: #FFFFFF */
/* Первичный фон: #E5E5E5; */

:root {
  --mine-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --mine-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --mine-background: #ffffff;
  --secondary-background: #2f303a;
}

/* ======== INDEX.HTML ======== */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: var(--mine-font);
  font-style: normal;
  color: var(--mine-text-color);
  background-color: var(--mine-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

/* ======== HEADER ======== */

.header {
  padding: 32px 0;
}

.header .container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

/* HEADER-Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 92px;
}

.logo-chapter {
  color: var(--accent-color);
}

/* HEADER-Navigation */

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

/* HEADER-Adress */
.adress {
  font-style: normal;
}

.header .adress {
  margin-left: auto;
}

.adress-list {
  display: flex;
}

.adress-list-item:not(:last-child) {
  margin-right: 30px;
}
.adress-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--mine-text-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.adress-list-link:hover,
.adress-list-link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link:active {
  color: var(--accent-color);
  cursor: pointer;
}

/* ======== END HEADER ======== */

/* ======== HERO ======== */
.hero {
  background-color: var(--secondary-background);
}

/* HERO-Title */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* HERO-Button */
.modal-btn {
  font-family: var(--mine-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* ======== END HERO ======== */

/* ======== FEATURES ======== */
.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* ======== END FEATURES ======== */

/* ======== ABOUT-US ======== */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* ======== END ABOUT-US ======== */

/* ======== TEAM ======== */
.team-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ======== END TEAM ======== */

/* ======== FOOTER ======== */
.contact {
  background-color: var(--secondary-background);
}

.contact-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contact-logo-chapter {
  color: var(--accent-color);
}

.contact-list-maplink {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ======== END FOOTER ======== */
/* ======== END INDEX.HTML ======== */

/* ======== PORTFOLIO.HTML ======== */
/* ======== FILTER ======== */
.filter-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border: none;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* ======== END FILTER ======== */
/* ======== PORTFOLIO ======== */

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
